.page-politics {
  h1 {
    color: var(--black);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 24px;
    margin-top: 60px;

    @media (max-width: 1024px) {
      margin-top: 48px;
    }
  }

  h2 {
    color: var(--black);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 24px;
    margin-top: 60px;

    @media (max-width: 1024px) {
      margin-top: 48px;
    }
  }

  h3 {
    color: var(--black);
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 16px;
  }

  .page-content {
    ul {
      list-style-type: disc;
      padding-left: 24px;
      font-size: 15px;
      color: var(--silver-grey);
    }

    li {
      margin-top: 16px;

      &:first-of-type {
        margin-top: 0;
      }
    }
  }

  p {
    margin-bottom: 16px;
    line-height: 150%;
    font-size: 15px;
    color: var(--silver-grey);
    font-weight: 400;

    a {
      color: var(--black);
    }
  }
}
